*{
position:absolute;margin:0;padding:0;
}
#a1{
width:720px;
height:48px;
left:0px;
top:0px;
background-color:rgb(127,127,127);
font-family:Calibri;
color:rgb(0,0,0);
font-size:26pt;
font-weight:bold;
text-align:center;
transform: rotate(0deg);

}
#a2{
width:107px;
height:45px;
left:127px;
top:48px;
background-color:rgb(217,217,217);
font-family:Calibri;
color:rgb(0,0,0);
font-size:22pt;
font-weight:bold;
text-align:center;
transform: rotate(0deg);

}
#a3{
width:124px;
height:45px;
left:235px;
top:48px;
background-color:rgb(217,217,217);
font-family:Calibri;
color:rgb(0,0,0);
font-size:22pt;
font-weight:bold;
text-align:center;
transform: rotate(0deg);

}
#a4{
width:232px;
height:45px;
left:360px;
top:48px;
background-color:rgb(217,217,217);
font-family:Calibri;
color:rgb(0,0,0);
font-size:22pt;
font-weight:bold;
text-align:center;
transform: rotate(0deg);

}
#a5{
width:127px;
height:45px;
left:592px;
top:48px;
background-color:rgb(217,217,217);
font-family:Calibri;
color:rgb(0,0,0);
font-size:22pt;
font-weight:bold;
text-align:center;
transform: rotate(0deg);

}
#a6{
width:212px;
height:351px;
left:0px;
top:133px;
background-color:rgb(255,255,255);
font-family:Calibri;
color:rgb(0,0,0);
font-size:13pt;
font-weight:normal;
text-align:center;
transform: rotate(0deg);

}
#a7{
width:720px;
height:29px;
left:0px;
top:510px;
background-color:rgb(255,192,0);
font-family:Calibri;
color:rgb(0,0,0);
font-size:14pt;
font-weight:normal;
text-align:left;
transform: rotate(0deg);
vertical-align:text-top;

}
#a8{
width:212px;
height:39px;
left:0px;
top:94px;
background-color:rgb(255,255,255);
font-family:Calibri;
color:rgb(0,0,0);
font-size:13pt;
font-weight:bold;
text-align:center;
transform: rotate(0deg);

}
#a9{
width:28px;
height:28px;
left:691px;
top:482px;
background-color:rgb(0,176,240);
font-family:Calibri;
color:rgb(255,255,255);
font-size:14pt;
font-weight:normal;
text-align:center;
transform: rotate(0deg);

}
#a10{
width:28px;
height:28px;
left:663px;
top:482px;
background-color:rgb(146,208,80);
font-family:Calibri;
color:rgb(255,255,255);
font-size:14pt;
font-weight:normal;
text-align:center;
transform: rotate(0deg);

}
#a11{
width:28px;
height:28px;
left:634px;
top:482px;
background-color:rgb(255,0,0);
font-family:Calibri;
color:rgb(255,255,255);
font-size:14pt;
font-weight:normal;
text-align:center;
transform: rotate(0deg);

}
#a12{
width:212px;
height:348px;
left:212px;
top:133px;
background-color:rgb(255,255,255);
font-family:Calibri;
color:rgb(0,0,0);
font-size:13pt;
font-weight:normal;
text-align:left;
transform: rotate(0deg);

}
#a13{
width:212px;
height:39px;
left:212px;
top:94px;
background-color:rgb(255,255,255);
font-family:Calibri;
color:rgb(0,0,0);
font-size:13pt;
font-weight:bold;
text-align:center;
transform: rotate(0deg);

}
#a14{
width:212px;
height:351px;
left:425px;
top:133px;
background-color:rgb(255,255,255);
font-family:Calibri;
color:rgb(0,0,0);
font-size:13pt;
font-weight:normal;
text-align:center;
transform: rotate(0deg);

}
#a15{
width:212px;
height:39px;
left:425px;
top:94px;
background-color:rgb(255,255,255);
font-family:Calibri;
color:rgb(0,0,0);
font-size:13pt;
font-weight:bold;
text-align:center;
transform: rotate(0deg);

}
#a16{
width:352px;
height:80px;
left:503px;
top:240px;
background-color:rgb(149,149,149);
font-family:Calibri;
color:rgb(255,192,0);
font-size:32pt;
font-weight:bold;
text-align:center;
transform: rotate(270deg);

}
#a17{
width:127px;
height:45px;
left:0px;
top:48px;
background-color:rgb(127,127,127);
font-family:Calibri;
color:rgb(0,0,0);
font-size:22pt;
font-weight:bold;
text-align:center;
transform: rotate(0deg);

}
#a18{
width:75px;
height:90px;
left:320px;
top:145px;
background-color:rgb(160,116,0);
font-family:Calibri;
color:rgb(0,0,0);
font-size:14pt;
font-weight:bold;
text-align:center;
transform: rotate(0deg);
vertical-align:text-bottom;

}